@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif; 
}
:root{
    --main-color: #3D464D;
    --text-color:#F5F5F5;
    --primary-color:#E99239;
}
.navbar{
    width: 100%;
    height: 100px;
    padding-left: 4px;
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    justify-content: space-evenly; 
    align-items: center;
    background-color:var(--main-color);
}
.nav-logo img{
    width: 100px;
    height: 100px;
}
/* menu icon */
.menuicon{
    display: none;
}
/* nav icons */
.nav-icons{
    margin-top: 30px;
    display: flex;
    gap: 32px;
}
.nav-icons .icon1{
       display: flex;
       align-items: center;
}
.nav-icons .icon1 p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    gap: 3px;
    padding: 10px;
    color: var(--text-color);
}
.nav-icons .icon2{
    width: 32px;
    height: 32px;
}
.nav-icons .icon3{
    width: 22px;
    height: 32px;
}
.nav-icons .cart-icon{
    width: 40px;
    height: 43px;
    position: relative;
}
/* nav search */
 .nav-search{
    width: 333px;
    height: 44px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow-y: hidden;
}
.nav-search .search-icon{
    width: 45px;
    height: 44px;
    background-color:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center; 
}
.nav-search input{
    width: 289px;
    height: 44px;
    border: none;
    outline: none;
    padding-left: 70px;
    font-family: 'Cairo', sans-serif; 
}
/* nav ul */
.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    direction: rtl;
    margin-top: 45px;
    gap: 16px;
    display: flex;
}
.navbar ul li{
    font-family: 'Cairo', sans-serif; 
    font-weight: 700;
    font-size: 18px;
    color:var(--text-color);
}
.navbar ul hr{
    width: 4px;
    height: 40px;
    border-radius: 4px;
    background-color:var(--primary-color);
    border: none;
}
.nav-icons .cart-icon div{
    position: absolute;
    top: -5px;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color:var(--primary-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    border-radius: 20px;
} 
/* hero section */
.hero-section {
    margin-top: 100px; 
    background-image: url(../img/cover.png);
    width: 100%;
    height: 905px;
    background-position: center;
    background-size: cover; 
    padding-top: 70px;
  } 
  /* hero content */
  .hero-container{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 .hero-content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-end;   
} 
.hero-content p{
    font-family: 'Cairo', sans-serif; 
    font-weight: 700;
    font-size: 23px;
    line-height: 45px;
    text-align: end;
    color: var(--text-color);
} 
.hero-content button{
    width: 250px;
    height: 60px;
    border-radius: 12px;
    background-color: var(--primary-color);
    padding: 7px 49px 7px 49px;
    box-shadow: 0px 0px 0px 0px #FEAF381A;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: var(--text-color);
} 
/* hero images */
 .hero-images{
     flex-basis: 40%;
    position:relative;
    display: flex; 
} 
.hero-images .img1{
    width: 285.5px;
    height: 454.67px;
    border-radius: 12px;
    box-shadow: 0px 66.22px 18.8px 0px #80002600;
    z-index: 5;
} 
 .hero-images .img2{
width: 253.34px;
height: 401.74px;
top: 12.15px;
left: 150px;
border-radius: 12px;
position:absolute;
z-index: 4;
} 
 .hero-images .img3{
 width: 213.8px;
height: 336.46px;
top: 36.64px;
left: 290px;
border-radius: 12px;
position: absolute;
z-index: 3;
} 
/*  */
.allbooks-section{
     width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* allbooks header */
.allbooks-section header{
    width: 100%;
    margin-top:100px ;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000
}
.allbooks-section header p{
    font-weight: 700;
    font-size: 30px;
}
.allbooks-section header .text-one{
    color: var(--primary-color);
}
.allbooks-section header .text-two{
    color: var(--main-color);
}
/* books details */
.books-details{ 
    width: 100%;
    margin-top: 102px;
    display: flex;
    gap: 38px;
    transform:translateX(-210px);
    padding: 30px;
}
.books-details .book{
    width: 541px;
    display: flex;
    gap: 20px;
    padding: 15px;
    align-items: center;
   border-radius: 8px;
   background-color: #FFFFFF;
 box-shadow: 0px 0px 15px 0px #00000040;
}
/* book content */
.book-content{
    width: 240px;
    height: 318px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-end;
}
.book-title{
    font-weight: 600;
    font-size: 18px;
    text-align: right;
     color: #0D0842;
}
 .book-info,.book-author{
font-weight: 400;
font-size: 14px;
color: #0D084285;
text-align: right;
}
.book-rate{
    display: flex;
    align-items: center;
    gap: 6px;
}
.book-rate img{
    width: 16px;
    height: 16px;
}
.book-price span{
    text-decoration: line-through;
    color: #6C757D;
    margin-right: 7px;
}
.book-content .addcart-button{
 width: 240px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
gap: 7px;
border-radius: 12px;
padding: 7px 20px 7px 15px;
background-color: var(--primary-color);
font-weight: 700;
font-size: 18px;
color: var(--text-color);
border: none;
}
/* book arrow */
.book-arrows{
    display: flex;
    margin-top: 35px;
}
/* book about section */
.geology-books-section{
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 120px;
}
.geology-books-section .book-image{
    width: 686.8px;
    height: 653px;
    border-radius: 24px;
    background-color: #E992394D;
    box-shadow: 0px 10px 14px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
}
.geology-books-section .book-content{
 width: 765.16px;
 height: 476px;
display: flex;
flex-direction: column;
gap: 16px;
margin-left: 122.02px;
margin-top: 131px;
}
.geology-books-section .book-content .header{
 font-family: 'Cairo', sans-serif; 
font-weight: 800;
font-size: 45px;
color: var(--primary-color);
text-align: right;
}
.geology-books-section .book-content .description{
font-weight: 500;
font-size: 20px;
text-align: right;
color: #0D084285;

}
.geology-books-section  button{
width: 305px;
height: 80px;
gap: 10px;
border-radius: 12px;
padding: 7px 49px 7px 49px;
font-weight: 700;
font-size: 30px;
text-align: center;
color: var(--text-color);
background-color: var(--primary-color);
border: none;
}
/*  book revistion */
.book-revistion{
    height: 803px;
    background-color: var(--main-color);
    margin-top: 100px;
}
.book-rev-container{
     display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.book-revistion .left{
width: 626px;
height: 629px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;
margin-top: 87px;
}
.book-revistion .right{
display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-end;
width: 753px;
height: 475px;
margin-top: 164px;
}
.book-revistion .right .header{
font-family: 'Cairo', sans-serif; 
font-weight: 800;
font-size: 45px;
text-align: right;
color: var(--primary-color);

}
.book-revistion .right .text{
font-family: 'Cairo', sans-serif; 
font-weight: 500;
font-size: 20px;
text-align: right;
color: var(--text-color);

}
.book-revistion .right button{
width: 320px;
height: 80px;
gap: 10px;
border-radius: 12px;
padding: 7px 49px 7px 49px;
font-family: 'Cairo', sans-serif; 
font-weight: 700;
font-size: 30px;
text-align: center;
background: var(--primary-color);
color: var(--text-color);
}
/*  footer section */
footer{
    background-color: var(--main-color);
    margin-top: 100px;
    height: 617px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer-top{
    width: 90%;
    display:flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 57px;
}
.footer-top .col{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    color: var(--text-color);
    width: fit-content;
}
.col-contact{
display: flex;
gap: 6px;
font-size: 20px;
font-weight: 500;
align-items: center; 
}
.col .header{
font-weight: 600;
font-size: 30px;
line-height: 13px;
letter-spacing: 0%;
text-align: right;
text-transform: capitalize;
}
 .news-section{
    width: 346px;
 }
 .news-section .logo{
font-weight: 500;
font-size: 30px;
text-align: right;
color: var(--text-color);
}
.news-section .description{
font-family: 'Cairo', sans-serif; 
font-weight: 400;
font-size: 20px;
text-align: right;
color: var(--text-color);
}
.last-news{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.last-news p{
font-family: 'Cairo', sans-serif; 
font-weight: 600;
font-size: 18px;
text-align: right;
color: var(--text-color);
}
.email-signup{
margin-top: 30px;
width: 346px;
height: 60px;
display: flex;
justify-content: space-between;
border-radius: 4px;
padding: 10px 13px 10px 13px;
background-color: #FFFFFF40;
}
.email-signup div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.email-signup input{
    font-family: 'Cairo', sans-serif; 
    font-weight: 400;
    border: none;
    outline: none;
    color: var(--text-color);
    text-align: end;
 background-color: transparent;
}
.email-signup input::placeholder {
  color: var(--text-color);
}
.email-signup button{
font-family: 'Cairo', sans-serif; 
width: 117px;
height: 40px;
gap: 10px;
border-radius: 6px;
padding: 7px 15px 7px 15px;
background-color: var(--primary-color);
color: var(--text-color);
border: none;
outline: none;
} 
.footer-bottom{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 86px;
}
.footer-bottom .right{
    display: flex;
    gap: 20px;
}
.footer-bottom .right div{
    width: 35px;
    height: 35px;
    background-color: var(--text-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.encript{
    width: 100%;
    height: 83px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Cairo', sans-serif;   
}
/* media query */
@media(min-width:1001px) and (max-width:1440px){
    /* navbar */
.nav-logo img{
    width: 80px;
    height: 80px;
}
/* menu icon */
.menuicon{
    display: none;
}
/* nav icons */
.nav-icons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-icons .icon1{
       display: flex;
       align-items: center;     
}
.nav-icons .icon1 p{
    font-size: 15px;
}
.nav-icons .icon2{
    width: 20px;
    height: 20px;
}
.nav-icons .icon3{
    width: 20px;
    height: 20px;  
}
.nav-icons .cart-icon img{
    width: 30px;
    height: 30px; 
    position: absolute;
    top: 6px; 
}
/* nav search */
 .nav-search{
    width: 200px;
    height: 44px;
    overflow-x: hidden;
}
.nav-search .search-icon{
    width: 40px;
}
.nav-search input{
    width: 250px;
    height: 44px;
    padding-left: 0px;
}
/* nav ul */
.navbar ul{
    gap: 8px;
}
.navbar ul li{
    font-size: 14px;
}
/* hero section */
.hero-section {
    padding-top: 20px;
  } 
 .hero-content{
    gap: 10px;  
} 
.hero-content p{
    font-size: 18px;
    line-height: 35px;
} 
.hero-images .img1{
    width: 235.5px;
} 
 .hero-images .img2{
width: 203.34px;
left: 120px;
} 
 .hero-images .img3{
 width: 163.8px;
left: 230px;
} 
/* books details */
.books-details{ 
    width: 100%;
    margin-top: 102px;
    display: flex;
    gap: 38px;
    transform:translateX(-680px);
    padding: 30px;

}
    /* geology book */
.geology-books-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}
.geology-books-section .book-image{
    width:80%;
    height: 500px;
}
.geology-books-section .book-content{
 width: 80%;
 height: 223px;
margin-left:0px;
margin-top: 20px;
}
.geology-books-section .book-content .header{
font-size: 14px;
}
.geology-books-section .book-content .description{
font-size: 12px;

}
.geology-books-section  button{
width: 110px;
height: 30px;
gap: 10px;
padding: 0px 10px 0px 10px;
font-size: 14px;
}
/*  book revistion */
.book-revistion{
    height: 803px;
    background-color: var(--main-color);
    margin-top: 100px;
}
.book-rev-container{
     display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
}
.book-revistion .left{
width: 500px;
height: 500px;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
margin-top: 87px;
}
.book-revistion .left img{
    width: 180px;
}
.book-revistion .right{
display: flex;
flex-direction: column;
gap: 16px;
align-items: flex-end;
width: 753px;
height: 475px;
margin-top:70px;
}
.book-revistion .right .header{
font-family: 'Cairo', sans-serif; 
font-weight: 800;
font-size: 35px;
text-align: right;
color: var(--primary-color);

}
.book-revistion .right .text{
font-family: 'Cairo', sans-serif; 
font-weight: 500;
font-size: 18px;
text-align: right;
color: var(--text-color);
}
.book-revistion .right button{
width: 110px;
height: 30px;
gap: 10px;
padding: 0px 10px 0px 10px;
font-family: 'Cairo', sans-serif; 
font-weight: 700;
font-size: 10px;
border: none;
}
 .news-section{
    width: 280px;
 }
.footer-top{
    width: 95%;
}
.email-signup button{
width: 100px;
font-size: 10px;
} 
.email-signup{
width: 270px;
}
}
@media(min-width:1100px) and (max-width:1440px){
    /* books details */
.books-details{ 
    transform:translateX(-545px);
}
}
@media(min-width:401px) and (max-width:1000px){
      /* navbar */
    .navbar{
        height: 70px;
        direction: rtl;
        justify-content: space-between;
    }
    .nav-logo img{
        height: 70px;
        margin-top: 10px;
     }
    .nav-icons{
        display: none;
    }  
    .nav-search{
        display: none;
    }
    .navbar ul{
        display: none;
    }
    .menuicon{
        display: block;
        margin-left: 30px;
    }
     /* hero section */
     .hero-section{
        margin-top: 70px;
        height: 270px;
        padding-top: 30px;
     }
    .hero-container{
     display: flex;
    flex-direction: column;
    }
    /* hero content */
    .hero-content{
    gap: 16px;
    }
    .hero-content p{
    font-size: 15px;
    line-height: 20px;
    }
    .hero-content button{
    width: 110px;
    height: 30px;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    border: none;
    }
    /* hero images */
    .hero-images{
    display: none;
    }
     /* allabout section */
    .allbooks-section header p{
        font-size: 16px;
    }
      .books-details{
        margin-top: 50px;
        gap: 18px;
        transform:translateX(0px);  
    }
     .books-details .book{
        display: flex;
        flex-direction: column-reverse;
     }
    /* book content */
    .book-content{
        width: 158px;
        height: 318px;
    }
    .book-title{
        font-size: 10px;
    }
    .book-image img{
        width: 158px;
    }
    .book-content .addcart-button{
    width: 158px;
    height: 33px;
    font-weight: 700;
    font-size: 10px;
    color: var(--text-color);
    border: none;
    gap: 3px;
    }
     /* geology book */
    .geology-books-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.geology-books-section .book-image{
    width:80%;
    height: 256.79px;
}
.geology-books-section .book-content{
 width: 80%;
 height: 223px;
margin-left:0px;
margin-top: 20px;
}
.geology-books-section .book-content .header{
font-size: 14px;
}
.geology-books-section .book-content .description{
font-size: 12px;

}
.geology-books-section  button{
width: 110px;
height: 30px;
gap: 10px;
padding: 0px 10px 0px 10px;
font-size: 14px;
}
/*  book revistion */
.book-revistion{
    height: 310px; 
}
.book-revistion .left{
    display: none;
}
.book-revistion .right{
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
margin-left: 37px;
margin-top: 30px;
}
.book-revistion .right .header{
font-size: 14px;
}
.book-revistion .right button{
    width: 139px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    border: none;
}
 .book-revistion .right .text{
font-size: 12px;
} 
/*  footer section */
.footer-top{
    margin-left: 8px;
    padding-top: 57px;
    margin: auto;
    justify-content: flex-end;
}
.footer-top .col{
    display: none;
}
/* news section */
 .news-section{
    width: 346px;
 }
.news-section .description{
display: none;
}
/* footer bottom */
.footer-bottom{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-left: 49px;
      width: 90%;
}
.footer-bottom .left img{
    width: 100%;
}
.footer-bottom .right{
    display: flex;
    gap: 20px;
}
}
@media(max-width:400px){
   
    /* navbar */
    .navbar{
        height: 70px;
        direction: rtl;
        justify-content: space-between;
    }
    .nav-logo img{
        height: 70px;
     }
    .nav-icons{
        display: none;
    }  
    .nav-search{
        display: none;
    }
    .navbar ul{
        display: none;
    }
    .menuicon{
        display: block;
        margin-left: 15px;
    }
    /* hero section */
     .hero-section{
        margin-top: 70px;
        height: 270px;
        padding-top: 40px;
     }
    .hero-container{
     display: flex;
    flex-direction: column;
    }
    /* hero content */
    .hero-content{
    gap: 16px;
    }
    .hero-content p{
    font-size: 12px;
    line-height: 20px;
    }
    .hero-content button{
    width: 110px;
    height: 30px;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    border: none;
    }
    /* hero images */
    .hero-images{
    display: none;
    }
    /* allabout section */
    .allbooks-section header p{
        font-size: 16px;
    }
     /* books details */
    .books-details{
        margin-top: 50px;
        gap: 18px;
        transform:translateX(-280px);  
    }
     .books-details .book{
        display: flex;
        flex-direction: column-reverse;
     }
    /* book content */
    .book-content{
        width: 158px;
        height: 318px;
    }
    .book-title{
        font-size: 10px;
    }
    .book-image img{
        width: 158px;
    }
    .book-content .addcart-button{
    width: 158px;
    height: 33px;
    font-weight: 700;
    font-size: 10px;
    color: var(--text-color);
    border: none;
    gap: 3px;
    }
    /* geology book */
    .geology-books-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.geology-books-section .book-image{
    width:80%;
    height: 256.79px;
}
.geology-books-section .book-content{
 width: 80%;
 height: 223px;
margin-left:0px;
margin-top: 20px;
}
.geology-books-section .book-content .header{
font-size: 14px;
}
.geology-books-section .book-content .description{
font-size: 12px;

}
.geology-books-section  button{
width: 110px;
height: 30px;
gap: 10px;
padding: 0px 10px 0px 10px;
font-size: 14px;
}
/*  book revistion */
.book-revistion{
    height: 310px; 
}
.book-revistion .left{
    display: none;
}
.book-revistion .right{
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
margin-left: 37px;
margin-top: 30px;
}
.book-revistion .right .header{
font-size: 14px;
}
.book-revistion .right button{
    width: 139px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    border: none;
}
 .book-revistion .right .text{
font-size: 12px;
} 
/*  footer section */
.footer-top{
    margin-left: 8px;
    padding-top: 57px;
}
.footer-top .col{
    display: none;
}
/* news section */
 .news-section{
    width: 346px;
 }
.news-section .description{
display: none;
}
/* footer bottom */
.footer-bottom{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: 49px;
    width: 289px;
}
.footer-bottom .left img{
    width: 100%;
}
.footer-bottom .right{
    display: flex;
    gap: 20px;
}
}



